.spinner{
  text-align: center;
  margin-bottom: 120px;
}
.spinner__text{
  margin-top: 1rem;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 7px solid #202097;
    border-color: #202097 transparent #202097 transparent;
    animation: lds-dual-ring .5s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }