<section class="about">
    <h1 class="about__title">Rick and Morty API - GraphQL</h1>
    <div class="about__container">
        <p>Angular + GraphQL: Aplicación de Rick and Morty</p>
        <figure class="about__img">
            <img src="../../../assets/img/about.png" alt="Rick and Morty" title="Rick and Morty" rel="preload" as="image">
        </figure>
        <p class="about__desc">La API de <span>Rick and Morty</span> es una <span>API REST</span> (ish) y <span>GraphQL</span> basada en el programa de televisión Rick and Morty. Tendrás acceso a cientos de personajes, imágenes, ubicaciones y episodios. La API de Rick and Morty está llena de información canónica como se ve en el programa de televisión.</p>
    </div>
</section>
<section>
    <p class="about__copy">Developed by <span>Tonatiuj.dev</span></p>
</section>