.header{
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.header__icono svg{
    fill: #333333;
}
.header__nav{
    transition: all .3s;
}
.nav__list{
    display: flex;
    gap: 24px;
}
.nav__link{
    font-weight: 600;
    color: rgba(51, 51, 51, .6);
}
.nav__link:hover,
.nav__link.active{
    color: rgba(51, 51, 51, 1);
}

.btn-menu{
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    display: none;
}

@media screen and ( max-width: 768px ) {
    .btn-menu{
        display: block;
    }
    .header{
        position: relative
    }
    .header__content{
        padding: 8px 0;
    }
    .header__nav{
        background: #f8f8fc;
        width: 100%;
        position: absolute;
        top: 68px;
        left: 0;
        right: 0;
        z-index: 1;

        height: 0;
        padding: 0;
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
        display: none;
    }

    /* menu - toggle */
    .header__nav.menu-toggle{
        padding: 32px 0;
        height: auto;
    }
    .header__nav.menu-toggle .nav__list{
        display: flex;
    }
    
}