.favoritos__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem auto;
    gap: 2rem;
}
.sin-favoritos{
    margin: 5rem auto;
    text-align: center;
}
.sin-favoritos__title{
    font-size: 2.5rem;
    color: darkgrey;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-weight: 600;
    line-height: 4rem;
}

.sin-favoritos__img{
    max-width: 400px;
    opacity: 0.7;
}