.buscar{
    height: 30rem;
    background: linear-gradient( rgba(60, 62, 68, 0.6), rgba(60, 62, 68, 0.6) ), url('../../../assets/img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.buscar__container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buscar__form{
    max-width: 90%;
    width: 500px;
    display: flex;
}
.buscar__input{
    border: rgba(60, 62, 68, 0.6);
    padding: 10px 15px;
    outline: none;
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(60, 60, 60);
    font-size: 16px;
}
.buscar__btn{
    background: #242464;
    color: #FFF;
}
.buscar__btn:hover{
    background: #202097;
}

/* Personajes */
.personajes__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem auto;
    gap: 2rem;
}
