<section class="buscar">
    <div class="buscar__container container">
        <form class="buscar__form" [formGroup]="formBuscar" (ngSubmit)="buscar()">
            <input type="text" class="buscar__input" placeholder="Buscar" formControlName="queryBuscar">
            <button class="btn buscar__btn" [disabled]="!formBuscar.valid">Buscar</button>
        </form>
    </div>
</section>
<section class="personajes">
    <div class="personajes__container container">
        <figure class="personajes__content">
            <div class="personajes__img">
                <img src="https://rickandmortyapi.com/api/character/avatar/4.jpeg" alt="">
            </div>
            <div class="personajes__data">
                <h3 class="personajes__nombre">
                    Beth Smith
                </h3>
                <div class="personajes__status">
                    <span class="personajes__circle alive"></span>
                    <span>alive</span> - <span>Human</span>
                </div>
                <div class="personajes__first">
                    <p>First seen in:</p>
                    <p>Earth (Replacement Dimension)</p>
                </div>
                <div class="personajes__last">
                    <p>Last known location:</p>
                    <p>Earth (Replacement Dimension)</p>
                </div>
            </div>  
        </figure>
        <figure class="personajes__content">
            <div class="personajes__img">
                <img src="https://rickandmortyapi.com/api/character/avatar/28.jpeg" alt="">
            </div>
            <div class="personajes__data">
                <h3 class="personajes__nombre">
                    Beth Smith
                </h3>
                <div class="personajes__status">
                    <span class="personajes__circle alive"></span>
                    <span>alive</span> - <span>Human</span>
                </div>
                <div class="personajes__first">
                    <p>First seen in:</p>
                    <p>Earth (Replacement Dimension)</p>
                </div>
                <div class="personajes__last">
                    <p>Last known location:</p>
                    <p>Earth (Replacement Dimension)</p>
                </div>
            </div>  
        </figure>
        <figure class="personajes__content">
            <div class="personajes__img">
                <img src="https://rickandmortyapi.com/api/character/avatar/279.jpeg" alt="">
            </div>
            <div class="personajes__data">
                <h3 class="personajes__nombre">
                    Beth Smith
                </h3>
                <div class="personajes__status">
                    <span class="personajes__circle alive"></span>
                    <span>alive</span> - <span>Human</span>
                </div>
                <div class="personajes__first">
                    <p>First seen in:</p>
                    <p>Earth (Replacement Dimension)</p>
                </div>
                <div class="personajes__last">
                    <p>Last known location:</p>
                    <p>Earth (Replacement Dimension)</p>
                </div>
            </div>  
        </figure>

    </div>
</section>