<section class="buscar">
    <div class="buscar__container container">
        <form class="buscar__form" [formGroup]="formBuscar" (ngSubmit)="buscar()">
            <input type="text" class="buscar__input" placeholder="Buscar" formControlName="queryBuscar">
            <button class="btn buscar__btn" [disabled]="!formBuscar.valid">Buscar</button>
        </form>
    </div>
</section>
<section class="personajes">
    <div class="personajes__container container">
        <app-card-personaje *ngFor="let personaje of characters$ | async" [personaje]="personaje" class="card-personaje"></app-card-personaje>
    </div>
</section>
