<footer class="footer">
    <nav class="footer__nav">
        <ul class="nav__list">
            <li><a class="nav__link" routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a class="nav__link" routerLink="/episodios" routerLinkActive="active">Episodios</a></li>
            <li><a class="nav__link" routerLink="/favoritos" routerLinkActive="active">Favoritos</a></li>
            <li><a class="nav__link" routerLink="/about" routerLinkActive="active">About</a></li>
        </ul>
    </nav>
</footer>